<!--
/**
 * Copyright © magebig.com - All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<!--@subject Footer @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->

                    <!-- End Content -->
                </td>
            </tr>
            <div style="font-size: 12px;">
                <div class="footer" style="background: #e0e0e0; color: #000; text-align: center; font-size: 12px;">
                    <div style="display: block; font-size: 12px; border-collapse: collapse;">
                        <div style="display: block;">
                            <div style="display: block; font-size: 12px; width: 570px;">
                                <div style="display: block; color: #000; text-align: center; font-size: 12px;"><h1 style="margin: 10px 0; font-size: 25px;">{{trans "Contact information"}}</h1></div>
                                <div style="display: block; color: #000; text-align: center; font-size: 12px;">
                                    <!--<p class="address">{{var store.getFormattedAddress()|raw}}</p>
                                    <p class="address">{{var store.getFrontendName()}}</p>-->
                                    <p class="address">
                                    {{config path="general/store_information/name"}} {{config path="general/store_information/region_id"}} {{config path="general/store_information/city"}}</p>
                                </div>
                                <div style="display: block; color: #000; text-align: center; font-size: 12px;">
                                    {{depend store_phone}}
                                        <p class="phone">{{trans '<a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}</p>
                                    {{/depend}}
                                    {{depend store_hours}}
                                        <p class="hours">{{trans 'Hours of Operation:<br/><span class="no-link">%store_hours</span>.' store_hours=$store_hours |raw}}</p>
                                    {{/depend}}
                                </div>
                                <div style="display: block; color: #000; text-align: center; font-size: 12px;">
                                    <p>{{trans '<a href="%reset_url">Terms & Conditions</a>' reset_url="$this.getUrl($store,'term-and-conditions')" | raw}} </p>
                                </div>
                                <div style="display: block; color: #000; text-align: center; font-size: 12px;">
                                    <p>{{trans "Mail addresses:"}}</p>
                                    <p><a href='mailto:{{config path="trans_email/ident_sales/email"}}'>{{config path="trans_email/ident_sales/email"}}</a>{{trans "- benyttes ved spørsmål om kjøp eller produkter"}}</p>
                                    <p><a href='mailto:{{config path="trans_email/ident_support/email"}}'>{{config path="trans_email/ident_support/email"}}</a>{{trans "- benyttes ved reklamasjon/retur av et produkt"}}</p>
                                    <p><a href='mailto:{{config path="trans_email/ident_general/email"}}'>{{config path="trans_email/ident_general/email"}}</a>{{trans "- for all annen henvendelse"}}</p>
                                    <p>{{trans "With best regards,"}}</p>
                                    {{if var store.getFrontendName() = "Boatparts.no AS"}}
                                        <img src="https://boatpartsuatno.boat-parts.no/media/logo/stores/1/Norway.png" alt="Boatparts" width="170">
                                    {{/if}}
                                    {{if var store.getFrontendName() = "Boat-parts.se"}}
                                        <img src="https://boatpartsuatse.boat-parts.no/media/logo/stores/11/boat-parts.se.png" alt="Boatparts" width="170">
                                    {{/if}}
                                    {{if var store.getFrontendName() = "Boat-parts.dk"}}
                                        <img src="https://boatpartsuatdk.boat-parts.no/media/logo/stores/12/boat-parts.dk.png" alt="Boatparts" width="170">
                                    {{/if}}
                                    {{if var store.getFrontendName() = "Boat-parts.net"}}
                                        <img src="https://boat-parts.no/media/logo/stores/13/Europe.png" alt="Boatparts" width="170">
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </table>
    </td>
</tr>
</table>
<!-- End wrapper table -->
</body>
<style type="text/css">
.footer td {
    display: block;
   color: #000; text-align: center;
}

.footer p br {
    display: none;
}

.footer {background: #e0e0e0; color: #000; text-align: center;}
.footer table, .footer tr, .footer td, .footer tbody {
    display: block;
    font-size: 12px;
}
.footer table {border-collapse: collapse;}
.footer h1{ margin: 10px 0; font-size: 25px;}
</style>